:root {
    --darkest-blue:  #072F5F;
    --dark-blue: #1261A0;
    --medium-blue: #3895D3;
    --light-blue:  #D1EBFF;
    --light-orange: #FFB100;
    --dark-orange: #FF7F00; 
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background-color: var(--light-blue);
    font-family: Helvetica, sans-serif;
    color: var(--darkest-blue); 
    flex-direction: column;
    margin: 0;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}

nav {
    display: flex;
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}

footer {
    background-color: var(--dark-blue);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
}

.dark-blue {
    background-color:var(--dark-blue);
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
}

.darkest-blue {
    background-color:var(--darkest-blue);
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    color: white;
}
.medium-blue {
    background-color:var(--medium-blue);
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
}

.dark-orange {
    background-color:var(--dark-orange);
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
}
.light-orange {
    background-color:var(--light-orange);
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
}

.white {
    background-color:white;
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
}

.color-box {
    display: flex;
}

.apply-button {
    background-color: var(--light-orange);
    border-color: var(--dark-orange);
    border-width: 5px;
    color: white; 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 2;
    position: relative;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
}

.login {
    font-size: 16px;
    background: none;
    border: none; 
    color: var(--light-orange); 
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

main {
    padding-left: 20px;
}

.text-box {
    display: flex;
    align-items: baseline;
}

.login-submit {
    padding: 10px;
    background-color: var(--light-orange);
    border-color: var(--dark-orange);
    border-radius: 20px;
    width: 75px;
    border-style: solid;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}